.bottom {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    opacity: 0.8;
  }
  input[type=submit]{
    color: black;
    width: 30%;
  }
  .patene {
    align-items: center;
    margin: 25px 0 25px 0;
  }
  